@model TPWebApp.Model.Employee
@{
    ViewBag.Title = "Edit";
}


<div class="row">
    <div class="col-md-6 offset-3">
        <div class="card">
            <div class="card-header">
                <h4>Create</h4>
            </div>
            <div class="card-body">
                @using (Html.BeginForm("Edit", "Home", FormMethod.Post))
                {
                    
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control" name="Name" value="Name" />
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="text" class="form-control" name="Email" value="Email" />
                    </div>
                    <div class="form-group">
                        <label>Salary</label>
                        <input type="text" class="form-control" name="Salary" value="Salary" />
                    </div>
                    <select class="form-control form-control-lg mb-2">
                        <option>Select Gender</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
